<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- LOCAL -->
	<!-- <property name="APP_LOGS_HOME" value="E:/ApplicationLogs/cip_kpi" /> -->
	<!-- DEV_LOGS_CONFIG -->
	<property name="APP_LOGS_HOME" value="/home/bdcuser/cip/logs/ApplicationLogs/cip_kpi" />
	<!-- TEST_LOGS_CONFIG -->
	<!-- <property name="APP_LOGS_HOME" value="/home/bdcuser/cip_test/logs/ApplicationLogs/cip_core" /> -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOGS_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${APP_LOGS_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOGS_HOME}/error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${APP_LOGS_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	
	
	<logger name="org.hibernate" additivity="false">
		<appender-ref ref="spring-jpa" />
	</logger>

	<logger name="org.spring" additivity="false">
		<appender-ref ref="spring-jpa" />
	</logger>

	<root level="debug">
		<appender-ref ref="FILE-AUDIT" />
	</root>
	

</configuration>